@font-face {
  font-family: 'Freehand-591-BT';
  src: url('assets/fonts/freehand-591-bt.ttf') format('truetype'), /* Safari, Android, iOS */
      url('assets/fonts/freehand-591-bt.woff') format('woff'); /* Modern Browsers */
}

/* url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
/* url('webfont.woff') format('woff'), Pretty Modern Browsers */

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

::-mozkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  font-family: 'Freehand-591-BT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
